title {
    background-color: #000000;
    color: #FFFFFF;
}

.image_silhouette {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -208px; /* half the height */
	margin-left: -128px; /* half the width */
}

.image_september_2012 {
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: 480px;
}

.image_september_2012 .song_lyrics {
	position: absolute;
	top: 3px;
	left: 20px;
	width: 650px;
}

.image_september_2012 .september_2012 {
	position: absolute;
	top: 108px;
	left: 20px;
}

.image_september_2012 .my_first_trip {
	position: absolute;
	top: 165px;
	left: 20px;
	width: 790px;
}

.image_september_2012 .as_the_late_sj {
	position: absolute;
	top: 352px;
	left: 20px;
	width: 790px;
}

.image_september_2012 .steve_jobs_quote_connect_dots {
	position: absolute;
	bottom: 565px;
	left: 100px;
	width: 600px;
	text-align: justify;
}

.image_september_2012 .xoxo {
	position: absolute;
	bottom: 530px;
	left: 40px;
}

.image_bd_karaokay {
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: 10px;
}

.image_bd_k_descript {
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: 10px;
}

h1 {
	font-family: 'Codystar', cursive;
}

h3 {
	font-family: 'Codystar', cursive;
}

h4 {
	font-family: 'Homemade Apple', cursive;
}

p.menu_pos_fixed {
	position:fixed;
	bottom:0px;
	left:5px;
}

/* 

body {
    background-color: #000000;
    color: #FFFFFF;
}

*/

#menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}


.SpektaklOkonchen {
	line-height: 2em;


.center
	{
		margin-left:auto;
		margin-right:auto;
		width:100%;
		text-align:center;
		position: absolute;
		left: 0;
		top: 520px;
	}



/*not in use now
img {
	border: 10px solid #CCCCCC;
}
*/
