#menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}

img {
	border: 10px solid #CCCCCC;
}



.image {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 500px;
	margin-top: -208px; /* Half the height */
	margin-left: -128px; /* Half the width */
}

.text {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	top: 30px;
	width: 100%;
}





<link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative' rel='stylesheet' type='text/css'>
<style>
      body {
        font-family: 'Cinzel Decorative', serif;
        font-size: 48px;
      }
</style>



p {
	font-family: Cinzel Decorative;
	font-size: 48px;
}


span {
	font-family:Cursive;
}


h1 {
   border: 10px solid gray80;
   color: #CCCCCC;
}


h2 {
	color: #CCCCCC;
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
}

h3 {
	color: #8B1C62;
}

h4 {
	color: #8B1C62;
}

h5 {
	color: #8B1C62;
}

h6 {
	color: #8B1C62;
}