.imgBox  { width:291px; height:474px; background-
.image:https://rawgithubcom/SpektaklOkonchen/SpektaklOkonchengithubio/ma
.ster/silhouette_editedpng('silhouette_editedpng'); } imgText { text-
.align:center; margin:0; padding:25px 0 0 0; }



<link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative' rel='stylesheet' type='text/css'>
<style>
      body {
        font-family: 'Cinzel Decorative', serif;
        font-size: 48px;
      }
</style>



p {
	font-family: Cinzel Decorative;
	font-size: 48px;
}


span {
	font-family:Cursive;
}